// admin base setup



// ––––––––––––––––––––––––––––––––––––––––––––––––––
// admin colours
$pale_red : #f6859e;
$pale_orange : #f6bf85;
$pale_green : #a2f685;
$purple : #551a8b;
$yellow : #edd44b;



// ––––––––––––––––––––––––––––––––––––––––––––––––––
// Typography
.quick-links p,
.quick-links ul,
#titlediv #title,
.acf_postbox p.label,
.acf_postbox p.label label,
#poststuff #acf_471302 h2 {
  font-size: 1.6em; // currently ems cause chrome bug misinterpreting rems on body element
  line-height: 1.6;
  font-weight: $normal;
  font-family: $font-main;
  color: $grey;
}
body {
  font-family: $font-main;
}


// small
.acf_postbox p.label {
  font-size : 1.2em;
}
// medium
.acf_postbox p.label label,
#poststuff #acf_471302 h2 {
  font-size : 1.6em;
  font-weight : $bold;
}
// large
#titlediv #title {
  font-size : 2.4em;
  font-weight : $bold;
  letter-spacing : 0.04em;
}

// lists
ul.admin-list {
  list-style : disc inside;
}





// ––––––––––––––––––––––––––––––––––––––––––––––––––
// Custom Fields - page meta
$cf_fields : 'Title Tag', 'Meta Description', 'Meta Keywords';
$cf_colours : $pale_red, $pale_orange, $pale_green;

@for $i from 1 through length($cf_fields) {
  #the-list input[value="#{nth($cf_fields, $i)}"] {
    background-color : nth($cf_colours, $i);
    color : $black;
  }
}





// ––––––––––––––––––––––––––––––––––––––––––––––––––
// Utility Classes
.black--text,
.dark {color : $black; }
.light {color : $yellow; }

.red--text {color : $red; }
.blue--text { color : $blue; }
.green--text { color : $green; }
.purple--text { color : $purple; }

.hidden { display : none; }


// spacing - for input fields after titles
.top-margin--3-6 {margin-top:3.6rem;}
.top-margin--4-2 {margin-top:4.2rem;}
.top-margin--5-6 {margin-top:5.6rem;} // location fields
.top-margin--7-6 {margin-top:7.6rem;} // api key field
.top-margin--7-8 {margin-top:7.8rem !important;} // blog widget area title + blog nav checkbox(requires important)