// theme options scss

$sections: (
  // tab
  "tab" : '#adminmenu #toplevel_page_sandbox',
  "page" : '.AM2017--options',
  "form" : '.AM2017--options form',
  "section-1" : '.in-header-and-footer',
  "section-2" : '.in-page',
  "section-3" : '.functionality',
  "divide" : '.divider',
  // form sections
  "logos" : '.AM2017--options form#logos',
  "cta" : '.AM2017--options form#cta',
  "affiliates" : '.AM2017--options form#affiliates',
  "tweet" : '.AM2017--options form#tweet',
  "map" : '.AM2017--options form#gmap',
  "blog" : '.AM2017--options form#blog',
  "analytics" : '.AM2017--options form#analytics'
);
@function sections($key) {
  @return map-get($sections, $key);
}




// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// menu tab
#{sections('tab')} {
  // page marker
  a,
  a .dashicons-admin-tools:before {
    color : $green;
  }
  a:hover,
  &.current.menu-top a {
    background-color : $green;
    color : $black;
  }
  // icon colour
  a:hover div.wp-menu-image:before,
  a.current div.wp-menu-image:before {
    color : $black;
  }
  // hover on current
  &.current.menu-top a:hover {
    background-color : $green_light;
  }
  // focus styles
  a:focus,
  &.current.menu-top a:focus {
    background-color : $green_dark;
    color : $black;
  }
  a:focus .dashicons-admin-tools:before,
  a:focus div.wp-menu-image:before {
    color : $black;
  }

}








// ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// page

// –––––––––––––––––––––––––
// typography
#{sections('page')} {
  > h2,
  form, form p, form th, form label, input[type="text"], select,
  .in-header-and-footer,
  .in-page,
  .functionality {
    font-size : 1.2rem;
    line-height : 1.6;
    font-weight : $normal;
    font-family : $font-main;
    color : $grey;
  }
  > div h1,
  > div h2 {
    margin-top : 0;
    margin-bottom : 1rem;
    font-weight : $bold;
    line-height : 1.8;
    color : $grey;
  }
  > div h1 { font-size: 3.0rem; letter-spacing: 0.02rem; }
  > div h2 { font-size: 2.4rem; letter-spacing: 0.04rem; }
  > div h3 { font-size: 2.1rem; letter-spacing: 0.05rem; }
  > div h4 { font-size: 1.8rem; letter-spacing: 0.06rem; }
}






// ––––––––––––––––––––––––––––––––––––––––––––––––––
// quick links
.quick-links {
  @include disclaimer;
  margin-top : 2.5rem;
  p, ul {
    font-size : 1.4em;
    line-height : 1.4;
  }
  a {
    text-decoration : none;
    color : $green;
    &:hover {
      color : $green_dark;
    }
  }


  // 4 sections (3 divs + p)
  > div {
    // may as well use flexbox, client uses modern browsers
    padding : 1rem;
    box-sizing : border-box;
    background-color : $white;
    @media (min-width: 980px) {
      display : flex;
    }

    > p {
      @media (min-width: 980px) {
        align-self : center;
      }
    }
    > div {
      margin-top : 2.5rem;
      @media (min-width: 980px) {
        margin-top : 0;
        width : 27%;
        margin-left : 4%;
      }
      &.first {
        margin-top : 0;
        @media (min-width: 980px) {
          margin-left : 0;
          width : 40%;
        }
      }
    }

    //
  }
  

}

// –––––––––––––––––––––––––
// form containers and resets
#{sections('form')} {
  position : relative;
  margin-top : 45px;
  padding-top : 30px;
  border-top : 1px dotted $grey_light;
  &.first{
    border-top : none;
    margin-top : 0;
    padding-top : 0;
  }
  // wide left column
  &.wide th {
    min-width : 400px; // was 340
  }
  // resets
  .invisible {
    visibility : hidden;
    margin : 0;
    height : 0 !important;
    input[type="text"] {
      height : 0;
    }
  }
}




// ––––––––––––––––––––––––––––––––––––––––––––––––––
// header and background styling

// –––––––––––––––––––––––––
// section 1 - header and footer
#{sections('section-1')} {
  @include section-header;
}

// –––––––––––––––––––––––––
// section 2 - in page
#{sections('section-2')} {
  @include section-header {
    background-color : $white;
  }
}

// –––––––––––––––––––––––––
// section 3 - functionality
#{sections('section-3')} {
  @include section-header {
    background-color : $grey_pale;
    padding-top : 30px;
    margin-bottom : 30px;
  }
}


// ––––––––––––––––––––––––––––––––––––––––––––––––––
// dividers
$colour_options : 'white', 'grey', 'mid-grey', 'dark-grey';    
$colour_codes : $white, $grey_lighter, $grey_pale, $grey;

#{sections('divide')} {
  position : absolute;
  bottom : 0;
  width : 100%;
  @include divider('before', '');
  @include divider('after', '-');
  // output different colours
  @for $i from 1 through length($colour_options) {
    &.#{nth($colour_options, $i)},
    &.#{nth($colour_options, $i)}:before,
    &.#{nth($colour_options, $i)}:after {
      background-color : nth($colour_codes, $i);
    }
  }
}







// –––––––––––––––––––––––––
// form components
#{sections('form')} {
  // buttons
  .wp-core-ui & {
    .button,
    .button-primary {
      @include faux-btn($green);
      &:hover,
      &:focus {
        color : $white;
        outline: 0;
        background-color : $green;
        text-shadow : $shadow-down-right_thin;
      }
      // back to top button
      &.small {
        background-color : $grey;
        color : $white;
        border : 0;
        height : 36px;
        font-size : 1.2rem;
        font-weight : $normal;
        line-height : 36px;
        &:hover,
        &:focus {
          background-color : $grey_light;   
        }
        .fa {
          font-size : 24px;
          margin-right : 0;
        }
      }
    }
  }
  // text, select, textarea
  @include form-fields {
    border : 2px solid $grey;
    &:focus {
      border : 2px solid $green;
      color : $green;
    }
  }
  // text
  input[type="text"] {
    display : block;
    min-width : 50%;
  }
  // select (dropdowns)
  .wp-admin & {
    select {
      min-width : 200px;
    }
  }
  // radio and checkbox
  input[type="radio"],
  input[type="checkbox"] {
    box-shadow : none;
    border : 2px solid $grey;
    color : $grey;
    width : 24px;
    height : 24px;
    &:checked:before {
      font-size : 26px;
      color : $green;
      width : 12px;
      height : 12px;
    }
  }
  // font awesome icons
  .fa {
    @include fa-icon;
    &.fa-facebook { color : $facebook; }
    &.fa-twitter { color : $twitter; }
    &.fa-google-plus { color : $google; }
    &.fa-linkedin { color : $linkedin; }
  }
  // used on left column logos
  .extra-label {
    font-weight : $normal;
  }
  // slider: value
  input[type="text"].slider-value {
    min-width : none !important;
    padding : 0;
    border : 0;
    background-color : none;
    box-shadow : none;
    color : $green;
    &:focus {
      border : 0;
    }
  }
  input[readonly].slider-value {
    background-color : transparent;
  }
  // slider
  .v-slider {
    height : 200px;
    margin-right : .75rem;
    .ui-slider-handle {
      cursor : pointer;
    }
    .ui-state-focus,
    .ui-state-active {
      outline : none;
      background : $green;
      border : 1px solid $green_dark !important;
    }
  }
  // slider label
  .v-slider,
  .slider-info {
    display : inline-block;
    vertical-align : top;
  }
}





// –––––––––––––––––––––––––
// logo section(s)
#{sections('logos')},
#{sections('affiliates')} {
  img {
    display : block;
    max-width : 200px;
  }
  input[type="button"] {
    margin : 10px 0;
  }
  label {
    display : block;
    margin : 10px 0;
  }
  // right column - text input
  input[type="text"] {
    display : block;
    min-width : 62.5%;
  }
}




// –––––––––––––––––––––––––
// header cta section
$cta_options : 'green', 'orange', 'blue', 'red';
$cta_codes : $green, $orange, $blue, $red_dark;

#{sections('cta')} {
  // radio buttons - output different colours
  @include radio-colour($cta-options, $cta_codes);
}



// –––––––––––––––––––––––––
// tweet section
#{sections('tweet')} {
  input[type="text"] {
    display : block;
    min-width : 80%;
  }
}



// –––––––––––––––––––––––––
// map
#{sections('map')} {
  @include shortcode;
}




// –––––––––––––––––––––––––
// blog section
$wc-options : 'green', 'orange', 'blue', 'red_dark', 'grey_lighter', 'grey';
$wc_codes : $green, $orange, $blue, $red_dark, $grey_pale, $grey;

#{sections('blog')} {
  input[type="button"] {
    margin : 10px 0;
  }
  label[for="blog_widget_bg_image"] {
    margin : 10px 0;
    display : block;
  }
  input[type="radio"]:checked:before {
    width : 12px;
    height : 12px;
  }
  input[type="text"]#blog_widget_bg_image {
    width : 100%; // align with image
  }
  img {
    display : block;
    max-width : 100%;
    max-height : 450px;
    margin-bottom : 10px;
  }
  // output different colours
  @include radio-colour($wc-options, $wc_codes);

  @for $i from 1 through length($wc_options) {
    .colour-overlay.#{nth($wc_options, $i)} {
      background-color : nth($wc_codes, $i);
    }
  }

}











// –––––––––––––––––––––––––
// google analytics
#{sections('analytics')} {
  input[type="text"] {
    display : block;
    min-width : 80%;
  }
  // help icon
  td {
    position : relative;
  }
  .fa.fa-question {
    position : absolute;
    top : 23px;
    right : calc(20% - 48px);
    cursor : pointer;
    &:hover {
      color : $green;
    }
  }
  // info
  .google_analytics--info {
    width : calc(80% - 4px);
    font-family : $font-quote;
    font-style : italic;
    font-size : 1.2rem;
    margin-bottom : 10px;
    img {
      max-width : 100%;
      margin-top : 20px;
      margin-bottom : 5px;
      border : 2px solid $green;
    }
  }
}