// Blog Pages
// - home.php, category.php, tag.php, single.php

// 1) - resets
// 2) - post types
// 3) - blog specific components
// 4) - blog specific containers
// - a) advert
// - b) pages and posts nav
// - c) archive info h1
// - d) single.php - meta (author & date), tags


// ––––––––––––––––––––––––––––––––––––––––––––––––––
// 1) - resets
.blog #content,
.archive #content,
.single #content {
  
  // container resets - these will apply to arhcive pages too:
  .container {
    padding-bottom : 5rem;
  }
  .wrapper-white .container {
    padding-top : 5rem;
  }
  // link reset
  > div:not(.hero) h1 a,
  > div:not(.hero) h3 a,
  > div:not(.hero) .single-tags a {
    text-decoration : none;
  }
  // latest post
  h1 a {
    text-decoration : none;
    color : $grey;
    line-height : 1.4;
    &:hover,
    &:focus,
    &:active {
      color : $green;
    }
  }
  // heading text
  h2 {
    @include labelHeading;
    background-color : $grey;
    // nav
    &.screen-reader-text {
      margin-bottom : 2.5rem;
    }
    // widget
    + .widget {
      margin-top : 2.5rem;
    }
  }
  // widgets
  .widget {
    margin-bottom : 5rem;
    a {
      text-decoration : none;
    }
    ul {
      margin : 0;
      list-style : none;
    } 
  }


}


// text styles
.single .thumb + h1 {
  margin-bottom : 2.5rem;
}


// read more in base.scss












// ––––––––––––––––––––––––––––––––––––––––––––––––––
// 2) - post types
// - in blogroll only - not single.php, or widgets
.post {
  // a) latest
  // - uses .card class
  &.latest {
     
    h3 {
      @include contextHeading($white, $green);
    }
    // .card is at same level as h3
    .card {
      @include roundDiv($green, '');
      @include cardPortrait(250px); // arg: card image height
    }
    h1 {
      padding-top : 2.5rem;
      transition : all ease-in-out .3s;
    }
  }




  
  // b) recent + index - same style as .five.columns
  &.recent,
  &.index {
    @include topBorderPara;
    margin-top : 5rem;
    border-top : 10px solid $green;
    @media (min-width: 660px) {
      margin-top : 2.5rem;
      &:first-child {
        margin-top : 0;
      }
    }
    
    
  }



}






// ––––––––––––––––––––––––––––––––––––––––––––––––––
// 3) - blog specific components

// thumbnail
// - .index, and single.php
.thumb {
  overflow : hidden;
  position : relative;
  margin-bottom : 2.5rem;
  max-height : 300px;
  img {
    width : 100%;
    height : auto;
  }
  .divider {
    bottom : 0;
  }
  ~ p .read-more {
    #content & {
      margin-bottom : 2.5rem; // space out thumbnail posts a little more
    }
  }
}





// ––––––––––––––––––––––––––––––––––––––––––––––––––
// 4) - blog specific containers

// a) advert
.page-advert {
  @include roundDiv($grey, $white);
  padding : 1.5rem;
  @media (min-width: 660px) {
    padding : 2.5rem;
  }

  > div {
    text-align : center;
    @media (min-width: 660px) {
      text-align : left;
      position : relative;
      display : inline-block;
      vertical-align : middle;
      width : 35%;
      &:first-child {
        width : 60%;
      }
    }
  }
  // img {} - see images.scss
  .button:first-child {
    margin-right : 1rem;
  }
}



// b) pages and posts nav
// - bottom of home.php, category.php, tag.php, and single.php
.nav-links {
  .prev {
    margin-right : 1.5rem;
    @include navChevron('left', 'before');
  }
  .next {
    margin-left : 1.5rem;
    @include navChevron('right', 'after');
  }
  .page-numbers.current {
    @include labelLink;
    margin-left : .75rem;
    margin-right : .75rem;
  }
}




// c) archive info h1 - category and tag titles
// - category could be expanded for info to include description + img
// - similar to widget item styles
.archive-info h1 {
  @include labelHeading;
  font-style : normal;
  @include headingIcon('right', 'right');
  .tag & {
    background-color : $grey_light;
  }
}



// d) single.php - meta (author & date), tags
// - meta - author and date
.single-meta {
  margin : 1rem 0 2.5rem;
  padding-bottom : 1rem;
  color : $grey_light;
  border-bottom : 5px solid $grey_light;
  > div {
    display : inline-block;
    &:first-child span { // author
      @include labelLink;
      background-color : $grey;
      margin : 0 .5rem;
    }
  }
}

// - tags
.single-tags {
  margin : 5rem 0 1rem;
  padding-top : 1rem;
  color : $grey_light;
  border-top : 5px solid $grey_light;
  > div {
    margin-bottom : 1rem;
  }
  a.tag {
    @include labelLink;
    @include linkChevron($grey, $grey_pale, $grey_light);
    margin-bottom : 1.25rem;
    margin-right : 1rem;
  }
}











// ________________________________________________
// b) archives (tags and categories)

// heading at top of category and tag pages:
// .post .info h1 {}



// ________________________________________________
// c) single posts
// ________________________
// resets
// images - multi importer
.ftpimagefix img { 
  margin-right : 2.5rem;
}