// blog widgets
// - may be better to split into partials for widget areas and widgets
// - some resets in blog-pages.scss

// a) widgets
// b) widget areas



// ________________________________________________
// a) widgets

// categories
.widget_categories {
  h4 {
    @include headingIcon('left', 'cat');
  }
  li {
    a {
      @include labelLink;
      @include linkChevron($white, $green, $green_light);
    }
  }
}

// tags
.widget_tag_cloud {
  h4 {
    @include headingIcon('left', 'tag');
  }
  a {
    @include labelLink;
    @include linkChevron($grey, $grey_pale, $grey_light);
    margin-bottom : .75rem;
    margin-right : .5rem;
  }
}



// latest posts
// - .card class in _containers.scss
.widget_recent_entries {
  h4 {
    @include headingIcon('left', 'clock');
  }
}










// ________________________________________________
// b) widget areas




// footer widget area
#footer-widgets {
  position : relative;
  border-top : 5px solid $grey;
  background-size : cover;
  background-position : center 20%;
  // widget resets
  ul { list-style : none; }
  .widget_recent_entries ul {
    padding-left : 1rem;
    a {
      text-decoration : none;
    }
  }
  // widget area title
  .container:first-child h3 {
    @include labelHeading;
    background-color : $grey;
  }
  // put contents above overlay
  > .container {
    z-index : 4;
    // container configuration
    &.center {
      text-align : center;
    }
    &.right {
      text-align : right;
    }
    &.widgets {
      padding-top : 2.5rem;
      padding-bottom : 5rem;
    }
  }

  // theme (light / dark): changes widget text colour
  // - may need to be widget by widget
  &.light .widget:not(.widget_featured_post) {
    h4 {
      color : $white;
    }
    &.widget_recent_entries a {
      color : $white;
      &:hover {
        color : $grey_pale;
      }
    }
  }

  &.dark .widget {
    h4 {
      color : $grey;
    }
    &.widget_recent_entries a {
      color : $grey;
      &:hover {
        color : $grey_dark;
      }
    }
  }

}





// overlay
$colours : 'white', 'green', 'orange', 'blue', 'red_dark', 'grey_lighter', 'grey';    
$colour_codes : $white, $green, $orange, $blue, $red_dark, $grey_lighter, $grey;

.widget-overlay {
  position : absolute;
  top : 0;
  bottom : 0;
  left : 0;
  right : 0;
  z-index : 2;

  // output different overlays
  @for $i from 1 through length($colours) {
    &.#{nth($colours, $i)} {
      background-color: nth($colour_codes, $i);
    }
  }

}