// Blog Single Nav


// NO LONGER USED - post nav is now simplified - same as pages nav

// - single.php
// - this will mainly be on the post nav - change the partial name to reflect this
// - blog index and single styles overlap too much to disentangle + more efficient to combine








// single post nav
.nav-single {
  margin-top : 3rem;
  // title
  &--title {
    display : inline-block;
    text-align : center;
    margin : 0 auto;
    background-color : $grey;
    color : $white;
    padding : 0 1rem;
    box-sizing : border-box;
  }
  // remove border where single post nav is displaying
  + #blog-widgets {
    border-top : 0;
  }
}













// ________________________________________________
// single posts: previous and next post nav
%nav {
  display : block;
  padding : 3rem 0;
  box-sizing : border-box;
  #content & {
    text-decoration : none;
  }
  h3 {
    position : relative;
    margin-bottom : 0;
  }
}

%nav-icon {
  font-family : $font-icon;
  position : absolute;
  top : 0;
}



// conversion variables
$nav-border: (
  "left" : 'border-top',
  "right" : 'border-bottom'
);
$prev-next: (
  "left" : 'previous',
  "right" : 'next'
);
$before-after: (
  "left" : 'before',
  "right" : 'after'
);

// conversion functions
@function border($key) {
  @return map-get($nav-border, $key);
}
@function prev-next($key) {
  @return map-get($prev-next, $key);
}
@function before-after($key) {
  @return map-get($before-after, $key);
}


@mixin post_nav($left_or_right, $colour_default, $colour_light, $colour_med, $colour_dark) {
  .nav-#{prev-next(#{$left_or_right})} {
    @extend %nav;
    #{border(#{$left_or_right})} : 5px solid $grey;

    // post title
    h3 {
      position : relative;
      margin-bottom : 0;
      padding-#{$left_or_right} : 3.5rem;
      text-align : #{$left_or_right};
      // arrow icon
      &:#{before-after(#{$left_or_right})} {
        @extend %nav-icon;
        content : icon(#{$left_or_right});
        #{$left_or_right} : 0;
      }

    }

    // no thumbnail
    &.no_thumb {
      color : $colour_default;
      background-color : $colour_light;
      &:hover,
      &:focus {
        color : $colour_dark;
        background-color : $colour_med;
        padding-#{$left_or_right} : 6rem;
      }
    }
 
    // has thumbnail
    &.has_thumb {
      h3 {
        background-color : $colour_default;
        padding : 0 1rem;
        padding-#{$left_or_right} : 4.5rem;
        &:#{before-after(#{$left_or_right})} {
          #{$left_or_right} : 1rem;
        }
      }
      a {
        background-color : $colour_default;
      }
    }

  } // end .nav-
}


@include post_nav('left', $green, $green_lighter, $green_light, $green_dark);
@include post_nav('right', $grey, $grey_lighter, $grey_light, $grey_dark);





// has thumbnail
.has_thumb {
  position : relative;
  min-height : 18.86rem;
  padding-top : 7rem;
  padding-bottom : 7rem;
  background-size : cover;
  background-position : center 20%;
  a {
    position : absolute;
    top : 0;
    bottom : 0;
    left : 0;
    right : 0;
    background-color : $green;
    opacity : 0;
    transition : opacity 0.25s ease-in-out 0s;
    z-index : 2;
    &:hover,
    &:focus,
    &:active {
      cursor : pointer;
      opacity : .25;
    }
  }
  h3 {
    display : inline-block;
    padding-right : 1rem;
    box-sizing : border-box;
    color : $white;
    z-index : 4; // stops translucency on hover
    pointer-events : none;
    
  }


  
}
