// containers
// - page / section specific containers (e.g. blog .advert) in different partials


// 1) sidebars
// 2) wrapping containers (and dividers)
// 3) text alignment
// 4) floated + narrow + plain pad-top
// 5) site wide containers - used on multiple pages + posts etc.
// - a) three stage columns (and pointers)
// - b) affiliate logos
// - c) disclaimer
// - d) card (featured / latest / service card)




// ––––––––––––––––––––––––––––––––––––––––––––––––––
// 1) content containers
#content {
  min-height : 300px;
}

// sidebars
// - pages (not blog) - top border
body.page-template #content > div:not(.hero-section) {
  .five.columns {
    @include topBorderPara;
  }
}

// - home page + single posts - align to left
body.home,
body.single-post {
  #content > div:not(.hero-section){
    @media (min-width: 980px) {
      .seven.columns + .five.columns {
        margin-left : 0;
      }
    }
  }
}



// ––––––––––––––––––––––––––––––––––––––––––––––––––
// 2) wrapping containers
// - .wrapper and .divider work together
%wrapper {
  overflow : hidden;
  position : relative;
  padding-bottom : 140px;
  @media (min-width: 660px) {
    padding-bottom : 210px;
  }
}
.wrapper-white {
  @extend %wrapper;
  background-color : $white;
}
.wrapper-grey {
  @extend %wrapper;
  background-color : $grey_lighter;
}


// content dividers
.divider {
  bottom : 50px;
  position : absolute;
  width : 100%;
  display : block; // required for safari
  // point downwards
  &:before, &:after {
      content : "";
      left : 0;
      position : absolute;
      right : 0;
      height: 140px;
      top: -20px;
      @media (min-width: 660px) {
        height: 210px;
      }
  }
  // left side
  &:before {
      transform: skew(0deg, 8deg);
  }
  // right side
  &:after {
      transform: skew(0deg, -8deg);
  }
  // white
  &.white, &.white:before, &.white:after {
      background-color : $white;
  }
  // grey
  &.grey, &.grey:before, &.grey:after {
      background-color : $grey_lighter;
  }
  
}





// ––––––––––––––––––––––––––––––––––––––––––––––––––
// 3) text alignment

// center container - in content
.container--center {
  text-align : center;
  ul {
    text-align : left;
    margin-left : 2.5rem;
  }
}

// for widget title
.text--center {
  text-align : center;
}
.text--right {
  text-align : right;
}





// ––––––––––––––––––––––––––––––––––––––––––––––––––
// 4) floated + narrow + pad top
@media (min-width: 980px) {
  // right container - reverse the float
  .container--right .seven.columns {
    float : right;
    margin-left : 4%;
  }
  // container-narrow container
  .container-narrow {
    float : none;
    display : block;
    margin : 0 auto;
    width : 56.6667%;
  }
}

.container.pad-top {
  padding-top : 5rem;
}




// ––––––––––––––––––––––––––––––––––––––––––––––––––
// 5) site wide containers


// a) three stage columns

// - with pointers
// - home page, family mediation process page(s)
.four.columns.stage {
  position : relative;
  width : 100%;
  margin-left : 0;
  margin-top : 2.5rem;
  padding-top : 5rem;
  box-sizing : border-box;
  border-top-width : 5px;
  border-top-style : solid;
  border-image : $fade-in-out-center_horizontal;
  @media (min-width: 980px) {
    width : 30.6666666667%;
    margin-left : 4%;
    padding-left : 4rem;
    border-top : 0;
    border-left-width : 5px;
    border-left-style : solid;
    border-image : $fade-in-out-center_vertical;
  }  

  // button container - first child overrides
  @media (min-width: 980px) {
    .button--container {
      position : absolute;
      left : 4rem;
      right : 0;
      bottom : 0; 
    }      
  }

  // first column
  &:first-child {
    padding-top : 0;
    border-top : none;
    border-image : none;
    @media (min-width: 980px) {
      // margin-top : 2.5rem;
      padding-top : 5rem;
      margin-left : -2.5rem;
      padding-left : 0;
      border-left : none;
      border-image : none;
      .button--container {
        left : 0;
      }
    }
  }


  // img
  img {
    max-width : 50% !important;
    @media (min-width: 980px) {
      max-width : 90% !important;
    }
  }


  // home page: set height to align buttons at bottom
  .home & {
    .button {
      margin : 0;
    }
    @media (min-width: 980px) {
      min-height : 44rem;
      p {
        margin-bottom : 0;
      }     
    }
    @media (min-width: 1080px) {
      min-height : 40rem;
    }
    @media (min-width: 1200px) {
      min-height : 36rem;
    }
  }

} // end columns




// pointers
.columns--divider {
    position : absolute;
    top : -5px;
    left : calc(50% - 50px);
    width : 100px;
    height : 5px;
    background-color : $grey_lighter;
    // point downwards
    &:before, &:after {
        content : "";
        position : absolute;
        top : 12px;
        height : 100%;
        border-bottom : 5px solid $grey;
    }
    // left side
    &:before {
        width : 51%;
        left : 0;
        transform : skew(0deg, 25deg);
    }
    // right side
    &:after {
        width : 50%;
        right : 0;
        transform : skew(0deg, -25deg);
    }



  // media queries
  @media (min-width: 980px) {
      top : calc(50% - 50px);
      left : -5px;
      width : 5px;
      height : 100px;
      // point rightwards
      &:before, &:after {
          left : 0;
          width : 17px;
          border-bottom : none;
          border-right : 5px solid $grey;
      }
      // top side
      &:before {
          top : 0;
          height : 50%;
          transform : skew(25deg, 0deg);
      }
      // bottom side
      &:after {
          top : auto;
          bottom : 0;
          height : 51%;
          transform : skew(-25deg, 0deg);
      }
  }


} // end pointers











// ______________________________________
// b) affiliated companies logos - just before footer
// - look at gallery images in _images.scss
#affiliates-band {
    background-color : $white;
    padding-top : 3rem;
    padding-bottom : 4.5rem;
    text-align : center;
    h4 {
        font-weight : $normal;
        margin-bottom : 3rem;
    }
    @include galleryImg(900px, false);
}



// ________________
// c) disclaimer div
.disclaimer {
    h3, h4 {
        @include contextHeading($white, $green);
    }
    > div {
        @include roundDiv($green, '');
    }
    p {
        margin-bottom : 0;
    }
}




// ________________
// d) card div
// - used by: latest post, featured post widge, services page parent
// - general setup in AM-mixins.scss
// - smaller cards (not latest post) are the default

// - needs to be more flexible - different landscape heights for different situations
.card {

    // include padding + colour mixin:
    @include roundDiv($green, $white);
    
    // - columns reset
    &.four.columns {
      width : 100%;
      margin-left : 0;
      @media (min-width: 900px) {
        width: 30.6666666667%;
        margin-left: 4%;
        &:first-child {
          margin-left : 0;
        }
      }


      // portrait is default
      @include cardPortrait(180px);
      
      // landscape for mid-widths
      @media (orientation: landscape), (min-width: 550px) {
        @include cardLandscape(250px);
      }

      // portrait for large
      @media (min-width: 900px) {
        @include landscapeReset(180px);
        @include cardPortrait(180px);
      }

      


      // include card (landscape height, portrait image height)
      // @include cardDuo(250px, 180px);

      // blog
      .blog & {
        h4 {
          padding-top : 2.5rem;
          transition : all ease-in-out .3s;
        }
        p {
            color : $grey_light;
        }
      }
      // services page
      .page-template-services-page & {
        h2 {
          padding-top : 2.5rem;
          transition : all ease-in-out .3s;
        }
      }
       
        
    }
    
    
    // universal styles - used by portrait and landscape mixins
    // - link
    .overlay {
      z-index : 1;
      position : absolute;
      top : 0;
      bottom : 0;
      left : 0;
      right : 0;
      &:hover + .card-thumb img {
        transform : scale(1.125);
      }
    }
    img {
      transition : transform ease-in-out .5s;
    }
    p {
      margin-bottom : 0;
    }
    .author {
      @include labelLink;
      background-color : $grey;
      margin : 0 .5rem;
    } 
    
    
    // colour schemes
    // - .card container requires a colour class
    $colours : 'green', 'orange', 'blue', 'red';    
    $colour_codes : $green, $orange, $blue, $red;
    $colours_dark : $green_dark, $orange_dark, $blue_dark, $red_dark;
    @for $i from 1 through length($colours) {
      &.#{nth($colours, $i)} {
        border-color: nth($colour_codes, $i);
        .author {
          background-color: nth($colour_codes, $i);
        }
        .read-more,
        .overlay:hover ~ .card-content h1,
        .overlay:hover ~ .card-content h2, // services page
        .overlay:hover ~ .card-content h4 {
          color: nth($colour_codes, $i);
        }
        .overlay:hover ~ .card-content .read-more {
        color: nth($colours_dark, $i);
      }
    }
  }

}