// containers




// ______________________________________
// a) content containers
#content {
  min-height : 300px;

  // container-narrower column with top border
  &>div:not(.hero) {
    .five.columns {
      padding-top : 2.5rem;
      border-top : 10px solid transparent;
      
      $colours : 'green', 'orange', 'blue', 'red';   
      $colour_codes : $green, $orange, $blue, $red;
      $dark-colour_codes : $green_dark, $orange_dark, $blue_dark, $red_dark;

      // output different border colours
      @for $i from 1 through length($colours) {
        &.#{nth($colours, $i)} {
          border-top-color : nth($colour_codes, $i);
          a {
            color : nth($colour_codes, $i);
            &:hover {
              color : nth($dark-colour_codes, $i);
            }
          }
        }
      }

      // home page - align to left
      @media (min-width: 980px) {
        .home & {
          margin-left : 0;
        }
      }

      // enforce bold italic
      h4 {
        font-style : italic;
      }
      



    } // end five columns
  }


} // end #content








// - - - -
// wrapping containers
%wrapper {
  overflow : hidden;
  position : relative;
  padding-bottom : 220px;
}
.wrapper-white {
  @extend %wrapper;
  background-color : $white;
}
.wrapper-grey {
  @extend %wrapper;
  background-color : $grey_lighter;
}



// ________________
// center container
.container--center {
  text-align : center;
  ul {
    text-align : left;
    margin-left : 2.5rem;
  }
}



// ________________
// gradient backgrounds
.gradient-white-green {
  background : $vertical-green;
}



// ________________
// media queries
@media (min-width: 980px) {
  // right container - reverse the float
  .container--right .seven.columns {
    float : right;
    margin-left : 4%;
  }
  // container-narrow container
  .container-narrow {
    float : none;
    display : block;
    margin : 0 auto;
    width : 56.6667%;
  }
}




// ________________
// disclaimer div
.disclaimer {
  h3, h4 {
    display : inline-block;
    margin : 0;
    margin-left : calc(2.5rem + 5px);
    padding : 0 2rem;
    height : 48px;
    line-height : calc(48px + 5px);
    border-radius : 2.5rem 2.5rem 0 0;
    background-color : $green;
    color : $white;
  }
  > div {
    border : 5px solid $green;
    border-radius : 2.5rem;
    margin-bottom : 5rem;
    padding : 2.5rem;
    box-sizing : border-box;
  }
  p {
    margin-bottom : 0;
  }
}










// ________________
// three stage columns - with pointers
.four.columns.stage {
  position : relative;
  width : 100%;
  margin-left : 0;
  margin-top : 2.5rem;
  padding-top : 5rem;
  box-sizing : border-box;
  border-top-width : 5px;
  border-top-style : solid;
  border-image : $fade-in-out-center_horizontal;
  @media (min-width: 980px) {
    width : 30.6666666667%;
    margin-left : 4%;
    padding-left : 4rem;
    border-top : 0;
    border-left-width : 5px;
    border-left-style : solid;
    border-image : $fade-in-out-center_vertical;
  }  

  // button container - first child overrides
  @media (min-width: 980px) {
    .button--container {
      position : absolute;
      left : 4rem;
      right : 0;
      bottom : 0; 
    }      
  }

  // first column
  &:first-child {
    padding-top : 0;
    border-top : none;
    border-image : none;
    @media (min-width: 980px) {
      // margin-top : 2.5rem;
      padding-top : 5rem;
      margin-left : -2.5rem;
      padding-left : 0;
      border-left : none;
      border-image : none;
      .button--container {
        left : 0;
      }
    }
  }


  // img
  img {
    max-width : 50% !important;
    @media (min-width: 980px) {
      max-width : 90% !important;
    }
  }


  // home page: set height to align buttons at bottom
  .home & {
    .button {
      margin : 0;
    }
    @media (min-width: 980px) {
      min-height : 44rem;
      p {
        margin-bottom : 0;
      }     
    }
    @media (min-width: 1080px) {
      min-height : 40rem;
    }
    @media (min-width: 1200px) {
      min-height : 36rem;
    }
  }

} // end columns





// ____________________
// pointers
.columns--divider {
  position : absolute;
  top : -5px;
  left : calc(50% - 50px);
  width : 100px;
  height : 5px;
  background-color : $grey_lighter;
  // point downwards
  &:before, &:after {
    content : "";
    position : absolute;
    top : 12px;
    height : 100%;
    border-bottom : 5px solid $grey;
  }
  // left side
  &:before {
    width : 51%;
    left : 0;
    transform : skew(0deg, 25deg);
  }
  // right side
  &:after {
    width : 50%;
    right : 0;
    transform : skew(0deg, -25deg);
  }



  // media queries
  @media (min-width: 980px) {
    top : calc(50% - 50px);
    left : -5px;
    width : 5px;
    height : 100px;
    // point rightwards
    &:before, &:after {
      left : 0;
      width : 17px;
      border-bottom : none;
      border-right : 5px solid $grey;
    }
    // top side
    &:before {
      top : 0;
      height : 50%;
      transform : skew(25deg, 0deg);
    }
    // bottom side
    &:after {
      top : auto;
      bottom : 0;
      height : 51%;
      transform : skew(-25deg, 0deg);
    }
  }


} // end pointers











// ______________________________________
// b) content dividers
.divider {
  bottom : 80px;
  position : absolute;
  width : 100%;
  // point downwards
  &:before, &:after {
      content : "";
      left : 0;
      position : absolute;
      right : 0;
      height: 220px;
      top: -20px;
  }
  // left side
  &:before {
      transform: skew(0deg, 8deg);
  }
  // right side
  &:after {
      transform: skew(0deg, -8deg);
  }
  // white
  &.white, &.white:before, &.white:after {
      background-color : $white;
  }
  // grey
  &.grey, &.grey:before, &.grey:after {
      background-color : $grey_lighter;
  }
  
}







// ______________________________________
// c) affiliated companies logos - just before footer
// - look at gallery images in _images.scss
#affiliates-band {
  background-color : $white;
  padding-top : 3rem;
  padding-bottom : 4.5rem;
  text-align : center;
  h4 {
    font-weight : $normal;
    margin-bottom : 3rem;
  }
  img {
    width : auto;
    height : auto;
    max-width : 250px;
    max-height : 200px;
    margin : 1.5rem;
    vertical-align : middle;
    @media (min-width: 800px) {
      img {
        margin : 0;
        margin-left : 3rem;
        &:first-child {
          margin-left : 0;
        }
      }
    }
  }
}
