// Footer


// main section (top part)
#footer .company-info {
  padding-top : 2rem;
  padding-bottom : 2rem;
  background-color : $grey_lighter;
  color : $grey;
  // anchor link reset
  a {
    color : $grey;
    &:hover {
      color : $green;
    }
  }
  // small screen columns reset
  .three.columns,
  .six.columns {
    width : 100%;
    margin-left : 0;
  }

  // menus - in three columns
  .footer-menu {
    li {
      display : inline-block;
      margin : 0 2rem 2rem 0;
      list-style : none;
      &.current-menu-item a {
        color : $green;
        text-decoration : underline;
      }
    }
  }
  
  // contact - in six columns
  .six.columns {
    margin-top : 2rem;
    padding-top : 2rem;
    border-top : 5px solid $grey;
  }

  // media queries
  @media (min-width: 980px) {
    // menus
    .three.columns {
      width : 22%;
      margin-left : 4%;
      &:first-child {
        margin-left : 0;
      }
    }
    // contact
    .six.columns {
      width: 48%;
      padding-left:4%;
      margin-top : 0;
      padding-top : 0;
      border-top : 0;
      border-left : 5px solid $grey;
    }
    .footer-menu li {
      display : block;
      margin : 1rem 0;
    }
  }

}




// - - - - - -




// bottom section (copyright and webmaster credit)
#footer .site-credits {
  padding-top : 2rem;
  padding-bottom : 2rem;
  background-color : $grey;
  color : $grey_lighter;
  // anchor link reset
  a {
    color : $grey_lighter;
    &:hover {
      color : $white;
    }
  }
  p {
    margin-bottom : 0;
  }
  // media queries
  @media (min-width: 660px) {
    
    .columns:nth-child(2) {
      text-align : right;
      float : right;
    }
  }
}


.page.has-cookie-bar ~ #footer .site-credits {
  padding-bottom : 74px;
  @media (min-width: 660px) {
    padding-bottom : 88px;
  }
}





// contact details
.contact li {
  list-style : none;
  line-height : 1.5;
  margin-top : 2rem;
  margin-bottom : 1rem;
  // reset link
  a {
    text-decoration : none;
  }
  .fa {
    vertical-align : middle;
    font-size : 3.0rem;
    margin-right : 1rem;
    transition : color ease-in-out 0.25s;
  }
}


// tweet
#twitter-tweet iframe {
  border-radius : 4px !important;
}



// social icons
.social {
  display : block;
  margin : 2rem auto;
  li {
    display : inline-block;
    margin-left : 1.8rem;
    margin-bottom : 0;
    &:first-child {
      margin-left : 0;
    }
    a .fa {
      vertical-align : middle;
      font-size : 3.6rem;
      color : $grey_light;
      transition : color ease-in-out 0.25s;
    }
    // brand colours hover
    a:hover .fa-facebook-official {color : $facebook;}
    a:hover .fa-twitter-square {color : $twitter;}
    a:hover .fa-google-plus-official {color : $google;}
    a:hover .fa-linkedin-square {color : $linkedin;}
  }
}





// footer hero image (optional) - set in styling options - is translucent
.has-hero {
  position : relative;
  &:before {
    position : absolute;
    top : 0;
    right : 0;
    left : 0;
    bottom : 0;
    content : "";
    opacity : .25;
    background-image : url("../img/default-hero/able-default-hero.jpg"); // put in variables, along with mesh
    background-size : cover;
    background-position: 0 0;
  }
}