// Header
// - try to keep all the padding offset stuff for the top in this file

// reset admin bar - only applies when logged in
#wpadminbar {
  position : fixed;
}





// ___________________
// main header container
.header {
  width : 100%;
  top : 0;
  left : 0;
  right : 0;
  z-index : 5;
  background-color : $grey_lighter;
  box-sizing : border-box;
  box-shadow : $shadow-down-right;
  transition: top 0.2s ease-in-out;

  
  
  // ___________________
  // fixed header (and offset)
  .fixed-header & {
    position : fixed;
  }

  // top container = 110px
  // button = 57px
  // large menu = 38px
  // admin bar (small) = 48px
  // admin bar (large) = 32px

  // menu-open = class added to the header - small menu toggled open
  
  // logged out
  &.up {
    top : calc(-110px - 57px);
    &.menu-open {
      top : -110px; // show close menu button
    }
    @media (min-width: 800px) {
      top : calc(-110px - 38px);
    }
  }

  // logged in
  .logged-in & {
    // small (46px high admin bar)
    top : 46px;
    &.up {
      top : calc(-110px - 57px + 46px);
      &.menu-open {
        top : calc(-110px + 46px); // show close menu button
      }
    }
    // medium + (32px high admin bar)
    @media (min-width: 782px) {
      top : 32px;
      &.up {
        top : calc(-110px - 57px + 32px);
        &.menu-open {
          top : calc(-110px + 32px);
        }
      }
    }
    // medium / large + (desktop menu)
    @media (min-width: 800px) {
      &.up,
      &.up.menu-open {
        top : calc(-110px - 38px + 32px);
      }
    }
  }





  

  // ___________________
  // logo and button container
  > .container {
    padding-top : 2rem;
    padding-bottom : 2rem;
  }


  // logo
  .three.columns {
    // padding-top : 5rem;
    width : 22%;
    // logo and text container
    // - omitted flexbox (3 rules applied on a)
    // - rules after commented + img convert flexbox styles
    &.logo a {
      width : 122px;
      text-decoration : none;
      color : $grey;
      font-weight : $bold;
      line-height : 1;
      // display : flex;
      // flex-direction : column;
      // align-items : center;
      display : block;
      img {
        display : block;
        margin : 0 auto;
      }
      .site-title {
        font-size : 1.8rem;
        line-height : 1;
        font-weight : $bold;
        span {
          color : $green;
        }
      } 
    } // end .logo a    
  }



  // button
  .nine.columns {
    // text-align : center;
    width : 74.0%;
    text-align : right;
    // button
    .button {
      margin-bottom : 0;
      display : inline-block;
      margin-top : calc((70px - 48px)/2);

      // phone icon for small screens
      @media (max-width: 480px) {
        &.phone {
          position : relative;
          span {
            display : none;
          }
          &:before {
            margin-right : 10px;
            font-family : $font-icon;
            content : icon('phone');;
          }
        }
      }
    } // end .button 
  }
  



} // end .header


  
 

// ___________________
// content padding
// - offset the content to accommodate fixed header
// - stops header from appearing white when scrolling up quickly
// - works with .up class
.fixed-header #content {
  // logged out
  border-top : calc(110px + 57px) solid $grey_lighter;
  @media (min-width: 800px) {
    border-top : calc(110px + 38px) solid $grey_lighter;
  }
}