// Header
// - try to keep all the padding offset stuff for the top in this file

// reset admin bar - only applies when logged in
#wpadminbar {
  position : fixed;
}





// ___________________
// main header container
.header {
  width : 100%;
  position : fixed;
  top : 0;
  left : 0;
  right : 0;
  z-index : 5;
  background-color : $able-lightgrey;
  box-sizing : border-box;
  box-shadow : $shadow-down-right;
  transition: top 0.2s ease-in-out;

  
  
  // ___________________
  // scrolled offset

  // top container = 110px
  // button = 57px
  // large menu = 38px
  // small admin bar = 48px
  // large admin bar = 32px
  
  // logged out
  &.up {
    top : calc(-110px - 57px);
    @media (min-width: 800px) {
      top : calc(-110px - 38px);
    }
  }

  // logged in
  .logged-in & {
    // small (46px high admin bar)
    top : 46px;
    &.up {
      top : calc(-110px - 57px + 46px);
    }
    // medium + (32px high admin bar)
    @media (min-width: 782px) {
      top : 32px;
      &.up {
        top : calc(-110px - 57px + 32px);
      }
    }
    // medium / large + (desktop menu)
    @media (min-width: 800px) {
      &.up {
        top : calc(-110px - 38px + 32px);
      }
    }
  }





  

  // ___________________
  // logo and button container
  > .container {
    padding-top : 2rem;
    padding-bottom : 2rem;
  }


  // logo
  .three.columns {
    // padding-top : 5rem;
    width : 22%;
    // logo and text container
    // - probably want to do this without flexbox styles (or use a fallback)
    &.logo a {
      width : 122px;
      text-decoration : none;
      display : flex;
      flex-direction : column;
      align-items : center;
      text-decoration : none;
      color : $able-grey;
      font-weight : $bold;
      line-height : 1;
      .site-title {
        font-size : 1.8rem;
        line-height : 1;
        font-weight : $bold;
        span {
          color : $able-green;
        }
      } 
    } // end .logo a    
  }



  // button
  .nine.columns {
    // text-align : center;
    width : 74.0%;
    text-align : right;
    // button
    .button {
      margin-bottom : 0;
      display : inline-block;
      margin-top : calc((70px - 48px)/2);

      // phone icon for small screens
      @media (max-width: 480px) {
        &.phone {
          position : relative;
          span {
            display : none;
          }
          &:before {
            margin-right : 10px;
            font-family : 'FontAwesome';
            content : "\f095";
          }
        }
      }
    } // end .button 
  }
  



} // end .header


  
 
  

  

// ___________________
// content padding
// - see content-containers.scss for content specific styles
#content {
  border-top : 148px solid $able-lightgrey; // offsets fixed header AND stops header from appearing white when scrolling up quickly

}