// accordion
// - suitable for pages with large content sections that can be hidden and revealed
// - sample jquery ui, and add to this file



@mixin btnType($state, $colour) {
  .ui-state-#{$state} .ui-icon,
  .ui-state-#{$state}.ui-state-hover .ui-icon {
    background-image : url('../img/ui-icons#{$colour}.png');
    margin-right : 1rem;
  }
}



// ___________________
// reset jQuery ui css

// - fonts
.ui-widget {
  font-family : $font-main;
  font-size: 1.6rem;
  line-height: 1.6;
  @media (min-width : 660px) {
    font-size: 1.8rem;
  }
}

// - button icons
@include btnType('default', '');
@include btnType('active', '_white');


// - content
.ui-accordion .ui-accordion-content {
  padding : 2.5rem 4rem 1rem;
  line-height: 1.6;
}










.accordion {
  text-align : left;
  
  // active item
  .ui-state-active {
    background-color : $able-green;
    border : 1px solid $able-green_dark;
  }
  
  // default item
  // .ui-state-default {
  //   background-color : $able-green_light;
  //   border : 1px solid $able-green;
  //   // default hovered
  //   &.ui-state-hover {
      
  //   }
  // }

}
  