// Buttons

@mixin colour($colour_name, $colour_code, $colour_code_light) {
  &.#{$colour_name},
  &.#{$colour_name}:visited {
    color : $colour_code;
    border-color : $colour_code;
    &:hover {
      color : $white;
      background-color : $colour_code_light;
      border-color : $colour_code_light;
    }
    // solid
    &.solid {
    color : $white;
    background-color : $colour_code;
    border : 0;
    line-height : 48px;
      &:hover {
          color : $white;
          background-color : $colour_code_light;
      }
    }
  }
}



// clear with solid border
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display : inline-block;
  height : 48px;
  padding : 0 10px;
  
  text-align : center;
  font-size : 21px;
  font-weight : $bold;
  line-height : 42px;
  letter-spacing : .1rem;
  text-decoration : none;
  white-space : nowrap;

  color : $green;
  background-color : transparent;
  border : 3px solid $green;
  border-radius : 4px;
  cursor : pointer;
  box-sizing : border-box;
  transition : all ease-in-out 0.25s;

  // icons
  .fa {
    vertical-align : middle;
    margin-top : -8px;
    margin-left : 8px;
  }

  // normal weight text
  span {
    font-weight : $normal;
    margin-right : 10px;
  }

  // hover and focus
  &:hover,
  &:focus {
    cursor : pointer;
    color : $white;
    outline : 0;
    background-color : $green;
    text-shadow : $shadow-down-right_thin;
  }

  // solid button
  &.solid,
  &.solid:visited {
  color : $white;
  background-color : $green;
  border : 0;
  line-height : 48px;
    &:hover {
        color : $white;
        background-color : $green_light;
    }
  }


  // ________________
  // context specific
  // - reset : remove underline if in content
  #content & {
    text-decoration : none;
  }
  // home page refer
  &.cta-btn {
    margin-top : 4rem;
      margin-bottom : 0;
  }




  // ________________
  // media queries
  @media (min-width : 660px) {
    font-size : 27px;
  }


  
  // ________________
  // colours
  // - note that green is the default, and does not need to be restated.
  @include colour('orange', $orange, $orange_light);
  @include colour('blue', $blue, $blue_light);
  @include colour('red', $red, $red_light);




} // end button
