// Forms
// - WordPress Contact Form 7 css
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; // The 6px vertically centers text on FF, ignored by Webkit
  background-color: $white;
  color: $grey;
  border: 2px solid $grey;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  // Removes awkward default styles on some inputs for iOS
  &:not(select) {
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
  }
  // focus
  &:focus {
    border: 2px solid $green;
    color: $green;
    box-shadow:none;
    outline: 0;
  }
}



textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: $bold;
}
fieldset {
  padding: 0;
  border-width: 0;
}
input[type="checkbox"],
input[type="radio"] {
  display : inline;
}
label > .label-body {
  display : inline-block;
  margin-left : .5rem;
  font-weight : $normal;
}
  
 

  
// _____________________________
// Searchform
#searchform {
  position : relative;
  display : inline-block;
  margin : 0;
  > div {
    position : absolute;
    top : 0;
    bottom : 0;
    right : 0;
    height : 38px;
  }
  // text input
  input[type="text"] {
    position : relative;
    margin : 0;
    padding-right : 42px;
  }
  // button
  input[type="submit"] {
    position : absolute;
    top : 0;
    right : 0;
    width : 38px;
    height : 38px;
    background-color : $green;
    font-size : 0; // stop 'search' being shown on hover
    padding : 8px;
    border : 0;
    border-radius : 0;
    &:hover,
    &:focus {
      background-color : $green_light;
    }
  }
  // button icon
  .fa {
    position : absolute;
    top : 8px;
    right : 10px;
    z-index : 2;
    pointer-events : none;
    font-size : 21px;
    color : $white;
  }
}
  
 
  


// _____________________________
// Contact Form 7
.wpcf7-form {
  position : relative;
  padding : 2.5rem 2.5rem 8rem;
  box-sizing : border-box;
  border : 2px solid $grey;
  text-align : left;
  .wrapper-grey & {
    background-color : $grey_pale;
  }
}



// _______________
// red highlighting
// - required fields
.wpcf7-form .required {
  position : absolute;
  bottom : 2rem;
}

// - input entry not valid
input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  &.wpcf7-not-valid {
    border:2px solid $red;
    color: $red;
  }
}
// not valid text
span.wpcf7-not-valid-tip {
  color: $red;
  // div.wpcf7-recaptcha & { 

  // }
}






// _______________
// form components
.wpcf7-form {
  label {
    margin-bottom : 10px;
  }
  h3 {
    margin-bottom : 3rem;
  }
  p {
    margin-bottom : 0;
  }

}



span.wpcf7-list-item { // checkbox
  margin-left : 0;
  display : block;
  &-label {
    padding-left : 2%;
    font-weight : $bold;
  }
}
.wpcf7-text,
.wpcf7-textarea {
  width : 100%;
}
.wpcf7-textarea {
  min-height : 200px;
}
.wpcf7-submit {
  float : right;
  margin-bottom : 2rem;
  
}


.wpcf7-recaptcha {
  margin-top : 30px;
  width : 100%;
  overflow : hidden;

}







// _______________
// form validation
div.wpcf7-response-output {
  width : 100%;
  margin : 0;
  margin-top : 5rem;
  padding : 0.5rem 1rem;
  box-sizing : border-box;
  color : $white;
}
div.wpcf7-spam-blocked {
  margin-top : 2.5rem;
  background-color : $orange;
  border : none;
}


// __________________________
// error in sending
div.wpcf7-mail-sent-ng {
  background-color : $red;
  border : none;
}
// fields not filled in
div.wpcf7-validation-errors {
  // margin-top : 5rem;
  background-color : $red;
  border : none;
}
// submitted ok
div.wpcf7-mail-sent-ok {
  background-color : $green;
  border : none;
}





// google recaptcha
// @media (min-width: 550px) {
  // div.wpcf7-recaptcha {
    // margin-bottom : 2.5rem;
    // position : absolute;
    // bottom : .6rem;
  // }
// }



// _______________
// form on submit gif
div.wpcf7 .ajax-loader {
  background : url('../img/spinner.gif');
  background-size : cover;
  background-repeat : no-repeat;
  width : 32px;
  height : 32px;
}




