// images - includes captions and lazyloading


// images in the content
// #content .container img {
//   display : block;
//   max-width : 100%;
//   margin : 3rem auto;
// }

div[class*="wrapper-"] img {
  display : block;
  max-width : 100%;
  margin : 3rem auto;
}

.container p > img {
  // display : block;
  // max-width : 100%;
  height : auto;
  margin : 1.5rem auto 3rem;
}


// lazyloaded images - in content, ACF, and (hopefully) galleries
.no-js #content .container img.lazy {
  display:none;
}
#content .container img.loading-icon {
  max-width : auto;
  width : auto;
  min-height : 144px;
  padding : 1rem;
  box-sizing : border-box;
  background-color : $able-lightgrey;
  background-image : url('../img/loading-icon.gif'); // define this in variables
  background-repeat : no-repeat;
  background-position : center center;
}


// captions
.wp-caption-text {
  font-style : italic;
  color : $able-darkergrey;
  padding-left : 1em;
  padding-right : 1em;
}




// gallery images - reset inline styles added by WP
// - used on mediator page - affiliated logos
// - align styles with -> layout/_affiliated-container.scss
div[id*="gallery"] > dl.gallery-item {
  width : 100% !important;
  float : none !important;
  margin : 4.5rem auto 0 !important;
  img {
    height : auto;
    width : auto;
    max-width : 250px;
    max-height : 200px;
    border : 0 !important;
    margin : 3rem auto;
    a,
    a:hover,
    a:active {
      border:0 !important;
    }
  }
  @media (min-width: 660px) {
    width : 33% !important;
    float : left !important;
    margin-top : 0 !important; 
  }
  
}