// images - includes captions and lazyloading

div[class*="wrapper"] img {
  display : block;
  max-width : 100%;
  height : auto; // keep in proportion
  margin : 3rem auto;
}


// reset the above:
div[class*="wrapper"] .card img {
  margin : 0;
  max-width : none;
}
div[class*="wrapper"] .page-advert img {
  max-width : 240px;
  margin : 0 auto;
  @media (min-width: 900px) {
    max-width : 100%;
  }
}
.container p > img {
  height : auto;
  margin : 1.5rem auto 3rem;
}



// lazyloaded images - in content, ACF, and (hopefully) galleries
.no-js #content .container img.lazy {
  display : none;
}
#content .container img.loading-icon {
  max-width : auto;
  width : auto;
  min-height : 144px;
  padding : 1rem;
  box-sizing : border-box;
  background-color : $grey_lighter;
  background-image : url('../img/loading-icon.gif'); // define this in variables
  background-repeat : no-repeat;
  background-position : center center;
}


// captions
.wp-caption-text {
  font-style : italic;
  color : $grey_dark;
  padding-left : 1em;
  padding-right : 1em;
}




// gallery images - reset inline styles added by WP
// - used on mediator page - affiliated logos
// - align styles with -> layout/_affiliated-container.scss
div[id*="gallery"] {

  // resets
  text-align : center;
  > dl.gallery-item {
    width : auto !important;
    float : none !important;
    margin : 0 !important;
    vertical-align : middle;
  }
  
  @include galleryImg(900px, true);
  
}