// nav css



// ––––––––––––––––––––––––––––––––––––––––––––––––––
// Assistive text - for screen readers
.assistive-text {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
    position: absolute !important;
    white-space: nowrap;
    height: 1px;
    width: 1px;
    overflow: hidden;
    &:focus {
        background : $green;
		border : none;
		color : $white;
		clip: auto !important;
        display: block;
		top : 1rem;
		left : 1rem;
        width: auto;
        z-index: 100000; // position above WP toolbar
    }
}







// Menu Styles
// ––––––––––––––––––––––––––––––––––––––––––––––––––
// body { -webkit-animation: bugfix infinite 1s; }
// @-webkit-keyframes bugfix { from {padding:0;} to {padding:0;} }

// nav container
.nav {
	position : relative;
	background-color : $grey_lighter;
	@media (min-width: 800px) {
		height : 38px;
	}
}

// reset list style
.main-menu li {
	list-style : none;
	a {
		text-decoration : none;
	}
}


// ––––––––––––––––––––––––––––––––––––––––––––––––––
// checkbox - display menu if toggle checked

// hide toggle and label by default
#toggle,
.main-toggle {
	display : none;
}

#toggle:checked {
	~ .main-menu {
		display : block;
		opacity : 1;
	}
	+ .main-toggle:after{
		content : 'Close Menu';
		background-color : $green_light;
	}
}


// label
.main-toggle {
	display : block;
	position : relative;
	cursor : pointer;
	-webkit-touch-callout : none;
	-webkit-user-select : none;
	user-select : none;
	z-index : 2;
	margin : 0;
	// display the text 'Main Menu'
	&:after {
		float: none;
		display : block;
		max-width: 100%;
		margin : 0 auto;
		padding : 0 5rem;
		box-sizing : border-box;
		text-align : center;
		content : 'Main Menu';
		font-size : 2.4rem;
		letter-spacing : 0.04rem;
		line-height : 2.4;
		font-weight : $bold;
		color : $white;
		background-color : $green;
		transition : all 0.3s ease-in-out;
	}
	// hover colour
	&:hover:after {
		background-color : $green_light;
	}
}



// ––––––––––––––––––––––––––––––––––––––––––––––––––
// small menu
.main-menu {
	position: static;
	right : 0;
	display : none;
	max-width : 100%;
	opacity : 0;
	// margin : 0 auto 2rem;
	margin : 0 auto;
	border-top : 2px solid $grey;
	li {
		margin : 0;
		a {
			position : relative;
			display : block;
			width : 100%;
			height : 38px;
			padding-left : 5%;
			box-sizing:border-box;
			font-weight : $bold;
			line-height : 38px;
			color : $grey;
			border-top : 2px solid $grey;
			transition: all 0.3s ease-in-out;
		}

		// 1st item - no top border
		&:first-child a {
			border-top : 0;
		}

		
		// - - - - - - - -
		// hover behaviour - 1st tier
		a:hover,
		a:focus {
			color : $green;
			background-color : $grey_pale;
		}
		// - - - - - - - -
		// current page marker
		&.current_page_item > a,
		&.current_page_ancestor > a {
			color : $white;
			background-color : $green;
		}

		// - - - - - - - -
		// first tier with children
		&.menu-item-has-children > a:after {
			padding-left : 1.25rem;
			font-family: $font-icon;
			content : icon('right');;
		}

		
		
		


		// - - - - - - - -
		// second and third tier
		ul {
			position : relative;
			display : none; // don't need to display it, but a relative position is required
			top : 0;
			li a {
				background-color : transparent;
				color : $white;
				&:hover,
				&:focus,
				&.current_page_item a {
					background-color : $green;
					color : $grey;
				}
			}
			// third tier
			li li a {
				background-color : transparent;
				color : $grey;
			}
			li li a:hover,
			li li a:focus,
			li li.current_page_item a {
				background-color : $green;
				color : $grey;
			}
		}
	}
} // end .main-menu







// ––––––––––––––––––––––––––––––––––––––––––––––––––
// large menu
@media (min-width: 800px) { // was 768px

	// hide toggle
	#toggle,
	.main-toggle {
		display : none;
	}

	.main-menu {
		height : 38px;
		// overflow-x : hidden;
		white-space : nowrap;
		
		display: block;
		opacity: 1;
		max-width : 100%;
		width : 100%;
		margin-bottom : 0;
		background-color : transparent;
		border-top : none;
		text-align : center;
		position : absolute;
		z-index : 99;
		
		
		// all list items
		li {
			a {
				position : relative;
				padding : 0;
				border-top : 0;
				color : $grey;
				background-color : transparent;
			}

			// hover and current page marker
			a:hover,
			a:focus,
			&.current_page_item > a,
			&.current_page_ancestor > a {
				background-color : $grey_lighter;
				color : $green;
				padding : 0;
			}
			// first tier with children
			&.menu-item-has-children > a {
				padding-right : 2.5rem;
				&:before {
					position : absolute;
					top : 0;
					right : 0;
					font-family : $font-icon;
					content : icon('down');
				}
				&:after {
					padding-left : 0;
					content : "";
				}
			}




			// - - - - - -
			// second tier
			// - show the dropdown
			&:hover ul {
				display : block;
				li a:hover {
					color : $white;
				}
			}
			// child menu
			ul {
				font-size: 90%;
				display : none;
				position : absolute;
				top : 33px;
				left : 0;
				padding-top : 5px;
				margin : 0;
				min-width : 280px; // width of the dropdown
				z-index : 9999; // do a z-index audit
				li {
					// reset
					&:first-child a {
						border-top : 0;
					}
					// current page
					&.current_page_item > a,
					&.current_page_ancestor > a {
						background-color : $green_light;
						color : $white;
						&:hover {
							background-color : $green;
						}
					}
					
					a {
						padding : 0;
						background-color : $grey;
						color : $white;
						border-top : 2px solid $grey_lighter;
						&:hover
						&:focus {
							padding : 0;
							background-color : $green;
							border-top : 2px solid $green;
						}
					}

					
				} // end ul li
				
			}


		}


	}

}




// top level list items
.main-menu > li {
	@media (min-width: 800px) {
		position : relative;
		top : 0;
		display : inline-block;
		padding : 0 1.5rem 0 0;
	}
	@media (min-width: 900px) {
		padding : 0 1.5rem;
	}
}







