// nav css



// ––––––––––––––––––––––––––––––––––––––––––––––––––
// Assistive text - for screen readers
.assistive-text {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
    position: absolute !important;
    white-space: nowrap;
    height: 1px;
    width: 1px;
    overflow: hidden;
    &:focus {
        background : $green;
		border : none;
		color : $white;
		clip: auto !important;
        display: block;
		top : 1rem;
		left : 1rem;
        width: auto;
        z-index: 100000; // position above WP toolbar
    }
}







// Menu Styles
// ––––––––––––––––––––––––––––––––––––––––––––––––––
// body { -webkit-animation: bugfix infinite 1s; }
// @-webkit-keyframes bugfix { from {padding:0;} to {padding:0;} }

// nav container
.nav {
	position : relative;
	background-color : $grey_lighter;
	@media (min-width: 800px) {
		height : 38px;
	}
}

// reset list style
.main-menu li {
	list-style : none;
	a {
		text-decoration : none;
	}
}


// ––––––––––––––––––––––––––––––––––––––––––––––––––
// checkbox - display menu if toggle checked

// hide toggle and label by default
#toggle,
.main-toggle {
	display : none;
}


#toggle:checked {
	~ .main-menu {
		display : block;
		opacity : 1;
	}
	+ .main-toggle:after{
		content : 'Close Menu';
		background-color : $green_light;
	}
}


// label
.main-toggle {
	display : block;
	position : relative;
	cursor : pointer;
	-webkit-touch-callout : none;
	-webkit-user-select : none;
	user-select : none;
	z-index : 2;
	margin : 0;
	// display the text 'Main Menu'
	&:after {
		float: none;
		display : block;
		max-width: 100%;
		margin : 0 auto;
		padding : 0 5rem;
		box-sizing : border-box;
		text-align : center;
		content : 'Main Menu';
		// heading mixin?
		font-size : 2.4rem;
		letter-spacing : 0.04rem;
		line-height : 2.4;
		font-weight : $bold;
		color : $white;
		background-color : $green;
		transition : all 0.3s ease-in-out;
	}
	// hover colour
	&:hover:after {
		background-color : $green_light;
	}
}

// large: hide toggle
@media (min-width: 800px) {	
	#toggle,
	.main-toggle {
		display : none;
	}
}




// ––––––––––––––––––––––––––––––––––––––––––––––––––
// to be applied within li element
@mixin menuLi($height, $colour, $bg, $hovColour, $hovBg, $activeColour, $activeBg){
	margin : 0;
	> a {
		position : relative;
		display : block;
		width : 100%;
		padding-left : 5%; // .container max-width = 90%
		box-sizing : border-box;
		font-weight : $bold;
		transition: all 0.3s ease-in-out;
		// variables
		height : $height;
		line-height : $height;
		color : $colour;
		background-color : $bg;
		&:hover,
		&:focus {
			color : $hovColour;
			background-color : $hovBg;
		}
	}
	&.current_page_item > a,
	&.current_page_ancestor > a {
		color : $activeColour;
		background-color : $activeBg;
	}
	@content;	
}






// ––––––––––––––––––––––––––––––––––––––––––––––––––
// top tier menu
.main-menu {
	display : none;
	opacity : 0;
	position: static;
	right : 0;
	max-width : 100%;
	margin : 0 auto;
	> li {
		@include menuLi(48px, $white, $grey, $white, $grey_dark, $white, $green);
		// - hover style = tbc
		// first tier with children
		&.menu-item-has-children > a:after {
			padding-left : 1.25rem;
			font-family: $font-icon;
			content : icon('down');;
		}
	}

	// large
	@media (min-width: 800px){
		display: block;
		opacity: 1;
		position : absolute;
		width : 100%;
		height : 38px;
		z-index : 99;
		white-space : nowrap; // makes js abbreviations work
		text-align : center;
		> li {
			position : relative;
			top : 0;
			display : inline-block;
			padding : 0 1.5rem 0 0;
			// reveal child items (list)
			&:hover ul {
				display : block;
			}
			// style links	
			> a {
				height : 38px;
				line-height : 38px;
				padding : 0;
				color : $grey;
				background-color : transparent;
			}
			> a:hover,
			> a:focus,
			&.current_page_item > a,
			&.current_page_ancestor > a {
				color : $green;
				background-color : transparent;
			}
			// item with children
			&.menu-item-has-children > a {
				padding-right : 2.5rem;
				&:before {
					position : absolute;
					top : 0;
					right : 0;
					font-family : $font-icon;
					content : icon('down');
				}
				&:after {
					padding-left : 0;
					content : "";
				}
			}
		} // end li
	}


	@media (min-width: 900px) {
		> li {
			padding : 0 1.5rem;
		}
	}
}











// ––––––––––––––––––––––––––––––––––––––––––––––––––
// second tier - .sub-menu
.sub-menu {
	position : relative;
	// display : none; // don't need to display it, but a relative position is required
	top : 0;
	margin : 0;
	display : none;
	// show child items for current item only
	.current_page_ancestor & {
		display : block;
	}

	> li {
		@include menuLi(40px, $grey_pale, $grey_menu, $white, $grey_menu, $white, $green_light);
		// indent menu items
		> a:before {
			content : "-";
			padding : 0 1.8rem 0 1rem;
			transition : all ease-in-out .3s;
		}
		> a:hover:before {
			padding-right : 2.8rem;
		}
		
	}

	
	// large
	@media (min-width: 800px){
		display : none;
		position : absolute;
		top : 38px;
		min-width : 280px; // width of the dropdown
		z-index : 9999; // do a z-index audit
		font-size: 90%;
		text-align : left;
		> li {
			> a {
				padding : 0;
				background-color : $grey;
				color : $white;
				&:before {
					padding-right : 1rem;
				}
				&:hover:before {
					padding-right : 2rem;
				}
			}
		}
	}
}