/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: $bold;
    line-height: 1.8;
}
h1 {
  font-size: 3.0rem;
  letter-spacing: 0.02rem;
}
h2 {
  font-size: 2.6rem;
  letter-spacing: 0.03rem;
}
h3 {
  font-size: 2.4rem;
  letter-spacing: 0.04rem;
}
h4 {
  font-size: 2.1rem;
  letter-spacing: 0.05rem;
}
h5 {
  font-size: 1.8rem;
  letter-spacing: 0.06rem;
}
h6 {
  font-size: 1.5rem;
  letter-spacing: 0.07rem;
}
  
  
  
// make text larger for larger screens
  @media (min-width: 660px) {
  
    body {
      font-size: 1.8rem;
      line-height: 1.6;
    }
    h1 { font-size: 3.6rem; }
    h2 { font-size: 3.0rem; }
    h3 { font-size: 2.7rem; }
    h4 { font-size: 2.4rem; }
  
  }
  
  p { margin-top: 0; }
  em { font-style:italic; }
  
  
// Links
a {
  color : $able-green;
  outline : 0 none;
  text-decoration : none;
  transition : all 0.3s ease-in-out 0s;
  &:hover {
    color : $able-green_dark;
  }
  #content & {
    text-decoration : underline;
  }
}


// text highlighting
.red-text{
  color : $red;
}
a.red-text {
  color : $white;
  background-color : $red;
  padding : 2px;
  box-sizing : border-box;
  text-decoration : none !important;
  &:hover {
    background-color : lighten( $red, 10% );
  }
}