// Mediator Profiles
// - made with shortcodes, pulls info from user profiles


// profile pic, name card, content, button
.mediator-profile {
  @media (min-width: 450px) and (max-width: 659px) {
    padding : 0 2.5rem;
  }
  // profile pic and name card
  > div {
    position : relative;
    margin-bottom : 3rem;
  }
  // profile pic
  .profile-pic {
    height : auto;
    width : 100%;
    margin : 0;
  }
  // name card
  .name-card {
    margin-top : -1rem;
    padding : 1rem 2rem;
    box-sizing : border-box;
    background-color : $green;
    color : $white;
    h3, p {
      margin : 0;
    }
  }
  // button
  .button {
    float : right;
    .no-js & {
      display : none;
    }
  }
  // read full profile - hidden section
  .full-profile img {
    display : inline-block;
    vertical-align : middle;
    margin : 0;
    max-width : 225px;
    a & {
      transition : all ease-in-out .3s;
    }
    a:hover &  {
      opacity : .75;
    }
  }

}



// read full profile - hidden section
.full-profile {
  display : block;
  &.hidden {
    display : none;
  }
}