// Services parent page
// - containers within downward pointing arrow
.serviceswrapper {
    display : block;
    box-sizing : border-box;
    width : 100%;
    overflow : hidden;
    position : relative;
    margin-bottom : 80px; // related to divider - normally bottom:80px on it

    // main container for tiles
    > div:first-child {
      float: none;
      display: block;
      margin: 0 auto;
      &:after {
        content : "";
        display : table;
        clear : both;
      }
    }

    // downward pointer - a reset to stop overlay of colour when hovered
    .divider {
      z-index : 10;
      bottom : 0px;
    }
}




// tiles / thumbnails
.thumbnail {
  position : relative;
  background-repeat : no-repeat;
  background-size : cover;
  box-sizing : border-box;
  // left and right
  &.third {
    min-height : 300px;
    height : 100vw; // make thumbnails square
    display : block;    
    // media queries on left and right
    @media (min-width : 660px) {
      width : 50%;
      height : 50vw;
      max-height : 430px;
      float : left;
    }
    @media (min-width : 1200px) {
      width : 33.333333333%;
      height : 33.333333333vw;
    }

  }





  // links
  .overlay {
    position : absolute;
    top : 0;
    right : 0;
    bottom : 0;
    left : 0;
    z-index : 2;
    opacity : 0;
    transition : opacity ease-in-out .25s;
    &:hover,
    &:focus,
    &:active {
      cursor : pointer;
      opacity : .25;
      // does this actually let the info section still be clickable???
      + .info {
        z-index : 4;
      }
    }
  }

  // title and description container
  .info {
    position : relative;
    // width : 90%;
    max-width : auto;
    z-index : 3;
    display : inline-block;
    background-color : rgba($able-green, .75); // could use an opacity var
    padding : 2rem 2.5rem;
    box-sizing : border-box;
    border-radius : 0 0 1.5rem 0;
    transition : all ease-in-out .25s;
    &.add-summary {
      max-width : 90%;
      .description {
        display : block;
        max-width : 100%;
      }
    }

    // @media (min-width : 1400px) {
    //   width : 75%;
    // }
  }


  // title
  .title h2 {
    color : $white;
    font-size: 2.4rem;
    letter-spacing: 0.04rem;
    line-height : 1.6;
  }
  // description
  .description {
    color : $white;
    display : none;
    max-width : 0%;
    transition : all ease-in-out .25s;
    p {
      margin : 0;
    }
    a.button {
      margin : 1.25rem 0 0;
    }
  }

  // buttons
  .button,
  a.button {
    margin : 0 0 1.25rem;
    font-size: 2.1rem;
    color : $white;
    border-color : $white;
    .fa {
      margin-top : -4px;
      pointer-events : none;
    }
  }


}
